        *{
            font-family: system-ui, -applesystem, BlinkMacSystemFont, "Segoe UI", sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            background: #e2e8f0;
            color: #041c3d;
        }
       
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
        }
 
        header {
            background: #1a2646;
            color: white;
            text-align: center;
            padding: 40px 16px;
            position: relative;
            z-index: 1;
            border-bottom: 4px solid #ffe100;
        }
        header h1 {
            font-size: 32px;
            margin-bottom: 5px;
        }
        header p {
            opacity: 0.9;
        }
 
        main {
            text-align: center;
            padding: 40px 16px;
            background: #e2e8f0;
        }
        .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
        .card {
            background: rgb(241, 240, 240);
            width: 380px;
            border-radius: 12px;
            padding: 19px 24px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
            text-decoration: none;
            color: inherit;
            transition: transform 0.15s ease, boxshadow 0.15s ease, border 0.15s ease;
            border: 2px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card:hover {
            transform: translateY(-3px);
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
            border: 2px solid #0d0085;
        }
        .card h2 {
            font-size: 16px;
            color: #1e3a8a;
            margin-left: 10px;
        }
        .card p {
            font-size: 14px;
            opacity: 0.8;
            margin-left: 5px;
        }
        .foto-perfil {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid #ffee00;
            background: #e2e8f0;
            overflow: hidden;
            margin: -60px auto 32px;
            position: relative;
            z-index: 10;
        }
        .foto-perfil img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        footer {
            text-align: center;
            font-size: 13px;
            padding: 16px;
            background: #000351;
            color: #f1f5f9;
        }
        footer a {
            color: #fcfcfc;
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }